<footer class="site-footer">
  <div class="footer-top container">
    <a class="brand footer-brand" href="index.html"
      ><span class="brand-mark"><i></i><i></i><i></i><i></i></span
      ><span>brick<span>market</span></span></a
    >
    <p>Des briques avec<br /><em>un peu plus d'histoire.</em></p>
    <div class="footer-links">
      <div>
        <b>Explorer</b><a href="catalogue.html">La collection</a
        ><a href="catalogue.html?filter=new">Nouveautés</a
        ><a href="aide.html">Notre histoire</a>
      </div>
      <div>
        <b>Besoin d'aide ?</b><a href="aide.html">Livraison & retours</a
        ><a href="mailto:bonjour@brickmarket.fr">Contact</a
        ><a href="aide.html">FAQ</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom container">
    <span>© 2025 Brickmarket</span
    ><span>Fait avec soin en France <span class="footer-heart">♥</span></span
    ><span>Instagram &nbsp; Pinterest</span>
  </div>
</footer>
